
#grabber {
    position: fixed;
    height: 3px;
    width: 56px !important;
    background-color: var(--GR4) !important;
    display: flex;
    z-index: 505;
    user-select: none;
    -moz-user-select: none;
    box-shadow: inset 17px 1px var(--GR4), inset -17px -1px var(--GR4), 0 3px var(--GR0), 0 4px var(--GR0) !important;
    cursor: row-resize;
    transform: translateY(-50%);
}

#grabber:hover {
    height: 7px;
    box-shadow: inset 17px 2px var(--GR6), inset -17px -2px var(--GR6), 0 4px var(--GR0), 0 -1px var(--GR0) !important;
}

#grabber:active {
    height: 7px;
    box-shadow: inset 17px 2px var(--GR6), inset -17px -2px var(--GR6), 0 4px var(--GR0), 0 -1px var(--GR0) !important;
}

#tadaHeader {
    height: 0px !important;
    background-color: var(--GR0) !important;
    z-index: 504;
    border-top: 0px solid var(--GR3) !important;
    border-bottom: 0px solid var(--GR3) !important;
    border-right: 1px solid var(--GR-10) !important;

    margin-right: 1px !important;
    overflow: hidden;
    font-size: 8px !important; 
    display: flex;
    user-select: none;
    -moz-user-select: none;
}

#tadaHeader > * {
    border-right: 1px solid var(--GR-10) !important;
    background-color: var(--GR0) !important;
}

#tadaHeader .timeRanges > * {
    width: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--GR12) !important;
}

#tadaHeader .day .nightEntries, #tadaHeader .day .tadaHint {
    width: calc(100% - 12px);
    height: 21px;
    background-color: var(--GR12) !important;
    border-radius: 2px;
    padding: 4px 5px 2px 4px;
    white-space: nowrap;
    margin-bottom: 2px;
}

#tadaHeader .primary{
    display: none !important;
}
